/****** Script for SelectTopNRows command from SSMS  ******/
SELECT [PCProjectItemID]
      ,[TopLevelParentID]
      ,[PCProjectItemParentID]
      ,[ImmediateProjectID]
      ,[PCProjectItemTypeID]
      ,[PCProjectLevelID]
      ,[PCCostGroupID]
      ,[PCCostItemID]
      ,[ProjectStatusID]
      ,[Code]
      ,[Title]
      ,[Description]
      ,[Sequence]
      ,[LeftHint]
      ,[RightHint]
      ,[TreeLevel]
      ,[PercentageComplete]
      ,[UnitCost]
      ,[UpliftRateValue]
      ,[UpliftRatePercentage]
      ,[MarkUpPercentage]
      ,[BillRate]
      ,[DefaultExpenseNominalAccountNumber]
      ,[DefaultExpenseNominalCostCentre]
      ,[DefaultExpenseNominalDepartment]
      ,[DefaultRevenueNominalAccountNumber]
      ,[DefaultRevenueNominalCostCentre]
      ,[DefaultRevenueNominalDepartment]
      ,[OverrideSubItemRevenueBudgets]
      ,[PCProjectLevelBillingMethodID]
      ,[DateCreated]
      ,[TimePricingRuleID]
      ,[StockPricingRuleID]
      ,[OtherCostPricingRuleID]
      ,[OverheadNominalAccountNumber]
      ,[OverheadNominalCostCentre]
      ,[OverheadNominalDepartment]
      ,[TrackingCategories]
      ,[AllowRecordCosts]
      ,[PCCostTypeID]
      ,[DateTimeCreated]
      ,[OpLock]
      ,[FinalizedState]
      ,[EstimatedStartDate]
      ,[EstimatedCompletionDate]
      ,[RevisedStartDate]
      ,[RevisedCompletionDate]
      ,[ActualStartDate]
      ,[ActualCompletionDate]
      ,[AdditionalInfoValueGroupID]
      ,[PCCostCodeFormatID]
      ,[IsBoughtOut]
      ,[CostUnitID]
      ,[SYSTaxStatusID]
      ,[Secured]
      ,[DateTimeLastModified]
  FROM [Singleton].[Secured].[PCProjectItem]